h1 {
    font-size: 65px;
  }


h2 {
    background-color: #607d8b;
    color: #ffffff;
    padding: 1em
    {
        padding: 5px
    }

    
      p {
            font-size: 16px;
          }  
    

          p {
            width: 60px;
          }

          